.navbar {
  width: 100%;
  background-color: black;
  padding: 20px 20px;
  color: white;
  font-family: "EB Garamond", serif;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
}
